[Desktop Entry]
Encoding=UTF-8
Name=UltimateOnlineCash Core
Comment=Connect to the UltimateOnlineCash P2P Network
Comment[de]=Verbinde mit dem UltimateOnlineCash peer-to-peer Netzwerk
Comment[fr]=UltimateOnlineCash, monnaie virtuelle cryptographique pair à pair
Comment[tr]=UltimateOnlineCash, eşten eşe kriptografik sanal para birimi
Exec=ultimateonlinecash-qt %u
Terminal=false
Type=Application
Icon=bitcoin128
MimeType=x-scheme-handler/ultimateonlinecash;
Categories=Office;Finance;
