[Unit]
Description=UltimateOnlineCash's distributed currency daemon
After=network.target

[Service]
User=ultimateonlinecash
Group=ultimateonlinecash

Type=forking
PIDFile=/var/lib/ultimateonlinecashd/ultimateonlinecashd.pid
ExecStart=/usr/bin/ultimateonlinecashd -daemon -pid=/var/lib/ultimateonlinecashd/ultimateonlinecashd.pid \
-conf=/etc/ultimateonlinecash/ultimateonlinecash.conf -datadir=/var/lib/ultimateonlinecashd -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
